<% if(success && success!='') { %>
    <div class="alert alert-success">
        <%= success %>
    </div>
<% } else if(error && error!='') { %>
    <div class="alert alert-danger">
        <%= error %>
    </div>
<% } else { }%>