<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-primary p-0 toggled">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
            <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link" href="/dashboard" id="dashboard"><i
                        class="fas fa-calendar-o"></i><span>Dashboard</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/profile" id="profile"><i
                        class="fas fa-address-card"></i><span>Profile</span></a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/bookings" id="bookings"><i
                        class="fas fa-table"></i><span>Bookings</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle"
                type="button"></button></div>
    </div>
</nav>