<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Register - Brand</title>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
        <style>
            input {
                color: black !important;
            }
        </style>
    </head>

    <body class="bg-light">
        <div class="container">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-flex bg-gradient-primary">
                            <div class="flex-grow-1 bg-register-image"
                                style="background-image: url(&quot;assets/img/register.png&quot;);"></div>
                        </div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">Create an Account!</h4>
                                </div>
                                <%- include('partials/flash') %>
                                    <form class="user mb-1 needs-validation" method="POST" action="/register" novalidate>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0"><input
                                                    class="form-control form-control-user" type="text" id="first_name"
                                                    placeholder="First Name" name="first_name" required><div class="invalid-feedback">Enter a valid input</div>
                                            </div>
                                            <div class="col-sm-6"><input class="form-control form-control-user"
                                                    type="text" id="last_name" placeholder="Last Name" name="last_name" required><div class="invalid-feedback">Enter a valid input</div>
                                            </div>
                                        </div>
                                        <div class="form-group"><input class="form-control form-control-user"
                                                type="email" id="email" aria-describedby="emailHelp"
                                                placeholder="Email Address" name="email" required><div class="invalid-feedback">Enter a valid input</div></div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0"><input
                                                    class="form-control form-control-user" type="password" id="password"
                                                    placeholder="Password" name="password" required><div class="invalid-feedback">Enter a valid input</div></div>
                                            <div class="col-sm-6"><input class="form-control form-control-user"
                                                    type="password" id="password_repeat" placeholder="Repeat Password"
                                                    name="password_repeat" required><div class="invalid-feedback">Enter a valid input</div></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-6 mb-3 mb-md-0"><input
                                                    class="form-control form-control-user" type="text" id="aadhaar"
                                                    placeholder="Aadhaar Number" name="aadhaar" required><div class="invalid-feedback">Enter a valid input</div></div>
                                            <div class="col-md-6"><input class="form-control form-control-user"
                                                    type="text" id="pan" placeholder="PAN" name="pan" required><div class="invalid-feedback">Enter a valid input</div></div>
                                        </div>
                                        <div class="form-group"><input class="form-control form-control-user"
                                                type="number" id="phone" placeholder="Phone Number" name="phone" required><div class="invalid-feedback">Enter a valid input</div></div>
                                        <button class="btn btn-primary btn-block text-white btn-user"
                                            type="button" onclick="sendOTP()">Register
                                            Account</button>
                                        <div class="form-group m-3" style="display: none;" id="otpbox">
                                            <div class="mb-1"><input class="form-control form-control-user" type="text" id="otp" placeholder="Enter OTP sent to your phone" required><div class="invalid-feedback">Enter a valid input</div></div>
                                            <div class="m-3" id="countdownmsg" style="display: none;">The OTP expires in <strong><span id="timeout"></span></strong> seconds.</div>
                                            <div class="form-row">
                                                <div class="col-sm-6 mt-2">
                                                    <button class="btn btn-success btn-block btn-user" type="submit">Submit</button>
                                                </div>
                                                <div class="col-sm-6 mt-2">
                                                    <button class="btn btn-primary btn-block btn-user" type="button" onclick="resendOTP()" id="resend" style="display: none;">Resend</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="text-center"><small>Already have an account?</small> <a class="small"
                                            href="/login">Login</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="assets/js/form-validator.js"></script>
        <script src="assets/js/register-otp.js"></script>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/chart.min.js"></script>
        <script src="assets/js/bs-init.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
        <script src="assets/js/theme.js"></script>
    </body>

</html>